version:  '3.9'

services:
  postgres:
    image: postgres:15
    container_name: db_tramite
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: project_tramite_online
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  app:
    build: .  
    container_name: app
    environment:
      DB_HOST: db_host
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - db_tramite
    networks:
      - app-network

       
  


volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge